.content{
    display: grid;
    gap: 10px;
    height: 500px;
    width: 800px;
    grid-template-columns: auto auto;
    grid-template-rows: 250px 250px;
}
h3, p{
    padding-left: 35px;
}
.f1{
    grid-column: 1 / 2;
     grid-row: span 2;

}
img {
    border-radius: 15px 15px 0 0;
}
.ii {
    height: 400px;
    width: 700px;
}
.flex {
    background: black;
    color: white;
    border-radius:15px 15px;
}

.ii1 {
    height: 150px;
}
